#menu-8 .mbr-brand__name {
  font-size: 16px;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-8 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-8 .mbr-navbar__items a {
  font-size: 18px;
}
#header4-6 H1 {
  text-align: center;
  color: #063760;
  font-size: 80px;
}
#header4-6 .btn {
  font-size: 21px;
}
#header4-6 P {
  color: #063c69;
  text-align: center;
}
#menu-25 .mbr-brand__name {
  font-size: 16px;
}
#menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-25 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-25 .mbr-navbar__items a {
  font-size: 18px;
}
#header4-16 H1 {
  text-align: center;
  color: #ffffff;
  font-size: 100px;
}
#header4-16 .btn {
  font-size: 21px;
}
#header4-16 P {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#slider-23 H1 {
  font-size: 100px;
}
#slider-23 P {
  font-size: 36px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#slider-24 H1 {
  font-size: 84px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#header4-20 .btn {
  font-size: 20px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#header4-22 .btn {
  font-size: 21px;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-21 .mbr-navbar__items a {
  font-size: 18px;
}
#header4-24 H1 {
  color: #ffffff;
  font-size: 60px;
}
#menu-25 .mbr-brand__name {
  font-size: 16px;
}
#menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-25 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-25 .mbr-navbar__items a {
  font-size: 18px;
}
#header4-26 .btn {
  font-size: 20px;
}
#menu-29 .mbr-brand__name {
  font-size: 16px;
}
#menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-29 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-29 .mbr-navbar__items a {
  font-size: 18px;
}
#header4-30 .btn {
  font-size: 21px;
}
#menu-31 .mbr-brand__name {
  font-size: 16px;
}
#menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-31 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-31 .mbr-navbar__items a {
  font-size: 18px;
}
#header4-32 .btn {
  font-size: 24px;
}
#menu-31 .mbr-brand__name {
  font-size: 16px;
}
#menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-31 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-31 .mbr-navbar__items a {
  font-size: 18px;
}
#header3-33 H3 {
  font-size: 72px;
  text-align: center;
}
#header3-33 P {
  font-size: 20px;
  text-align: left;
}
